*{
    margin: 0em;
}
body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 0px 0px;
}
/* p{
    font-size: 3rem;
    font-weight: bolder;
    top: 10px;
    float: right;
} */
.link :hover{
    text-decoration: none;
    color: white;
    background-color: yellowgreen;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin: 15px;
    display: grid;
}
/* a :hover{
    background-color: brown;
} */
img{
    border-radius: 50px;
    border-style: solid;
}

.sidebar{
    position: fixed;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100%;
    /* width: 250px; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    border-style: solid;

}
.main{
    margin-left: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.main .body{
height: 100%;
box-sizing: border-box;
padding-top: 70px;
padding-bottom: 200px;
display: block;
}
/* .main #education{
height: 100%;
box-sizing: border-box;
padding-top: 40px;
padding-bottom: 200px;
} */

h1{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 30px;
    /* text-align: left; */
}
.socialicons{
    text-align: center;
    padding-top: 40px;
}
.socialicons a{
padding: 20px;
border-style: solid;
border-radius: 15px;
}
.socialicons a :hover{
}
.fa :hover{

}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    /* background: #dd4b39; */
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: red ;
    color: white;
  }
  
  .fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: #fff;
  }
  .fa-phone{
      color: white;
      
  }
  .fa-github{
      background-color: black;
      color: white;
  }
  .fa :hover{
      opacity: 0.7;
  }
  span{
      float: right;
      margin-right: 50px;
  }